proxmoxer
requests



.
├── ansible.cfg
├── inventory
│   └── hosts.yml
├── LICENSE
├── playbooks
│   └── proxmox
│       ├── create_vm.yml
│       └── delete_vm.yml
├── README.md
├── requirements.txt
└── roles
    ├── proxmox
    │   ├── create_vm
    │   │   └── tasks
    │   │       ├── create_ssh_config.yml
    │   │       ├── create_vm.yml
    │   │       ├── main.yml
    │   │       ├── network_config.yml
    │   │       ├── server_config.yml
    │   │       ├── start_vm.yml
    │   │       └── update_lvm.yml
    │   ├── delete_vm
    │   │   └── tasks
    │   │       ├── clean_up.yml
    │   │       └── main.yml
    │   ├── group_vars
    │   │   └── all.yml
    └─  └── README.md
